*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1rem;
}

a,
p,
h2,
li {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: hsl(218.82, 30.91%, 21.57%);
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#menu {
  display: none;
}

#close:hover {
  cursor: pointer;
}
#close {
  position: absolute;
  z-index: 10;
  width: 40px;
  top: 3.5rem;
  left: 84%;
}

#clickMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 10;
}

.hidden {
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(320, 50, 72);
  z-index: 5;
}
.navIcon {
  font-size: 2rem;
}

.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 5.2rem;
  background-color: rgba(320, 50, 72, 0.6);
  height: 150px;
  transition: all 0.3s ease;
}
.hideHeader {
  top: -150px;
}
.logo {
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.6s;
  font-weight: 400;
  font-size: 3rem;
  position: relative;
  z-index: 100;
  top: 3.1rem;
  font-family: "Outfit", sans-serif;
  font-size: 4rem;
  cursor: default;
}

#logoOverlay {
  left: 3rem;
  top: 4.2rem;
}

.mainHeader ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.5rem;
}

.navIcon {
  position: relative;
  list-style: none;
}

.navIcon a img {
  position: relative;
  margin: 0 1rem;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  width: 3rem;
}

.mint {
  border: 0.2rem solid;
  padding: 1rem;
  border-radius: 1rem;
}

.mint a {
  color: black;
}

.mainHeader {
  padding: 1rem 3rem;
}

main {
  width: 100%;
  height: 100%;
  color: hsl(0, 0%, 90%);
}

.price {
  background-image: url(../img/background.jpg);
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 12rem;
  width: 100%;
  height: 100%;
  padding-top: 20rem;
}

.price p {
  font-size: 2.5rem;
  line-height: 2.2rem;
  padding-left: -4rem;
  color: rgb(43, 20, 20);
}

.content {
  margin: 2rem 3rem;
}

.wrapper {
  margin: auto;
  max-width: 80%;
}

.info {
  margin-top: 3rem;
  font-size: 1.8rem;
  line-height: 2rem;
}

.info a {
  color: rgba(320, 50, 72);
  text-decoration: underline;
}

.text h2 {
  margin-top: 2rem;
}

.text p,
.text li {
  margin-top: 1rem;
  line-height: 1.2rem;
}

.text li {
  margin-left: 1rem;
}

.container {
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 100%;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  box-shadow: 0 0 5px 5px hsla(0, 0%, 0%, 0.103);
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url("https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80");
}

.item-2 {
  background-image: url("https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80");
}

.item-3 {
  background-image: url("https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80");
}

.item-4 {
  background-image: url("https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80");
}

.item-5 {
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80");
}

.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/pawel-czerwinski-7FqOISWr5V0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0 3rem;
  color: black;
}

.subtitle {
  font-size: 3rem;
  padding-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.flexRow {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.flexRow h2 {
  width: 300px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-right: 20%;
}

.flexRow li {
  max-width: 300px;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.faq div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
}

.question {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 1rem;
}

.question h2 {
  margin-bottom: 2rem;
  line-height: 2rem;
}

.question p {
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

.question hr {
  margin-bottom: 2rem;
}

.team {
  padding-bottom: 3rem;
  color: black;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  margin: auto;
}

.role {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  margin-bottom: 2rem;
}

.role img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.role div {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.role div p {
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-top: 1rem;
}

.mainFooter {
  background-color: rgba(320, 50, 72);
}

.mainFooter div {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.mainFooter ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.mainFooter li {
  margin-right: 1rem;
}

@media screen and (min-width: 1500px) {
  .hideHr hr {
    display: none;
  }
  .hideHr {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1017px) {
  .hideHr1500 hr {
    display: none;
  }
  .hideHr1500 {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 1016px) {
  .question:last-child hr {
    display: none;
  }
  .question:last-child {
    padding-bottom: 4rem;
  }

  .role {
    padding-top: 2rem;
  }

  .roleRight {
    flex-direction: row-reverse;
  }
  .gallery-wrap {
    height: 40vh;
  }
}

@media screen and (max-width: 800px) {
  .price p {
    font-size: 2rem;
  }
  .info {
    font-size: 1.6rem;
  }
  .roadmap {
    padding-bottom: 1rem;
  }
  .flexRow {
    flex-direction: column;
    align-items: center;
  }
  .flexRow h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .flexRow ul {
    margin-top: 1rem;
  }
  .flexRow li {
    max-width: 350px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 779px) {
  .price p {
    font-size: 1.6rem;
  }
  .mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mainHeader ul {
    display: none;
  }
  #menu {
    display: block;
  }
  #menu:hover {
    cursor: pointer;
  }
  .mainHeader .logo {
    position: static;
  }
  .gallery-wrap {
    height: 30vh;
  }
}
